@import url(//https://fonts.googleapis.com/earlyaccess/mplus1p.css);

@import url(//https://fonts.googleapis.com/earlyaccess/hannari.css);

@font-face
{
	font-family: 'Caviar Dreams';
	font-weight: normal;
	src: url('caviardreams.ttf');
}

@font-face
{
	font-family: 'Caviar Dreams';
	font-weight: bold;
	src: url('caviardreams_bold.ttf');
}

/*---------- VARIABLES ----------*/

:root
{
	--ff_serif: Cambria, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	--ff_sans: 'Caviar Dreams', Verdana, Geneva, sans-serif;
	--clr_accent1: #c39;
	--clr_accent2: #6cc;
	--clr_gray: #333;
}

/*---------- GLOBALS ----------*/

html
{
	height: 100%;
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body
{
	background: #000;
}

/*---------- TITLE SCREEN ----------*/

#title

{
	display: flex;
	height: 100%;
	width: 100%;
	
}

/*div[class*="title_"]
{
	height: 100vh;
	width: 100%;
}*/

.title_bg
{
	display: flex;
	height: 100vh;
	width: 100%;
	background: var(--clr_gray);
	
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title_content > div
{
	text-align: center;
}

.title_content img
{
	height: 15em;
	width: auto;
}

.title_content button
{
	opacity: 0;
	padding: .75em;
	width: 10em;
	margin: 1em;
	border: none;
	border-radius: 2em;
	background: var(--clr_accent2);
	color: #fff;
	text-align: center;
	font-family: var(--ff_sans);
	font-size: 2em;
	font-weight: bold;
	transition: .2s;
}

.title_content button:hover
{
	background: #fff;
	color: var(--clr_accent2);
}

/*---------- GAMEPLAY ----------*/

#gameplay
{
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
}

.gameplay_bg_1, .gameplay_bg_2
{
	height: 100vh;
	width: 100vw;
}

.gameplay_bg_1
{
	background: linear-gradient(#9cc, #9c6, #6c3);
}

.gameplay_bg_2
{
	background-image: url("img/bg_level1.svg");
	background-position: top;
	background-size: 8em;
	animation: scrollHorizontally 5s linear infinite;
	-webkit-animation: scrollHorizontally 5s linear infinite;
}

@keyframes scrollDiagonally
{
	from
	{
		background-position: 0%;
	}
	
	to
	{
		background-position: 11.31em 11.31em;
	}
}

@keyframes scrollVertically
{
	from
	{
		background-position: 0%;
	}
	
	to
	{
		background-position: 0 8em;
	}
}

@keyframes scrollHorizontally
{
	from
	{
		background-position: 0%;
	}
	
	to
	{
		background-position: 8em;
	}
}

#gameplay_wrapper
{
	display: flex;
	justify-content: center;
}

.gameplay_content
{
	display: flex;
	height: 100vh;
	width: 80vw;
	align-items: center;
	justify-content: space-between; 
}

.gameplay_content img
{
	/* width: 25%;
	height: auto; */
	padding-right: 5em;
}

.gameplay_content_dialogue
{
	/*height: 30em;
	width: 55em;*/
	background: #000000cc;
	border-radius: 2em;
	justify-content: left;
	padding: 2em;
	flex-direction: column;
}

.gameplay_content_dialogue_text
{
	height: 22em;
}

.gameplay_content_dialogue_text p
{
	font-family: var(--ff_serif);
	font-variant: small-caps;
	color: #fff;;
	font-size: 2em;
}

.gameplay_content_dialogue_buttons
{
	display: flex;
	height: 4em;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#choices
{
	display: flex;
	height: 100%;
	width: 90%;
	justify-content: space-between;
}

#choices button
{
	width: 47.5%;
	height: 100%;
	border: none;
	border-radius: 2em;
	background: var(--clr_accent2);
	font-family: var(--ff_sans);
	font-size: 2em;
	color: #fff;
	transition: .2s;
}

#choices button:hover
{
	background: #fff;
	color: var(--clr_accent2);
}

#next
{
	display: flex;
	width: 10%;
	justify-content: right;
	align-items: center;
}

#next button
{
	display: flex;
	height: 4em;
	width: 4em;
	border: none;
	background: none;
	padding: none;
	font-size: 3em;
	color: var(--clr_accent2);
	justify-content: center;
	align-items: center;
	transition: .2s;
}

#next button:hover
{
	color: #fff;
	font-size: 4em;
}